
.content-first {
  background-color: white;
  padding: 30px;
  height: 40vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h3 {
  color: #89c8c8;
}

h4 {
  color: #c4d764;

}

p {
  color: hsl(218, 22%, 67%)
}


